    /* reset css */
    
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    
    html {
        scroll-behavior: smooth;
        font-family: Arial, Helvetica, sans-serif;
        /* -webkit-text-size-adjust: 100%; */
    }
    /*COMMON*/
    
    .text-center {
        text-align: center !important;
    }
    
    .pull-right {
        float: right !important;
    }
    
    .btn {
        background-color: #000;
        color: white;
        padding: 8px 16px;
        display: inline-block;
        /*Sua bo cua cua inline*/
        margin-top: 15px;
        text-decoration: none;
        border: none;
    }
    
    .btn:hover {
        background-color: #ccc;
        color: black;
        cursor: pointer;
    }
    
    .place-buy-btn:hover {
        background-color: #ccc;
        color: black;
    }
    
    .mt-8 {
        margin-top: 8px !important;
    }
    
    .mt-16 {
        margin-top: 16px !important;
    }
    
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }
    
    .row::after {
        content: "";
        display: block;
        clear: both;
    }
    
    .col {
        float: left;
        padding-left: 8px;
        padding-right: 8px;
    }
    
    .col-full {
        width: 100%;
    }
    
    .col-half {
        width: 50%;
    }
    
    .col-third {
        width: calc(100%/3);
    }
    /*MAIN*/
    
    #main {}
    
    #header {
        height: 46px;
        background-color: #000;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        /*Lam nổi phần header lên trên*/
        /* overflow: hidden; */
    }
    
    #nav {
        display: inline-block;
    }
    
    #nav li {
        position: relative;
        display: inline-block;
    }
    
    #nav>li>a {
        color: white;
        text-transform: uppercase;
    }
    
    #nav li a {
        text-decoration: none;
        padding: 0px 24px;
        line-height: 46px;
        display: block;
    }
    
    #nav li a:hover {
        color: #000;
        background-color: #ccc;
    }
    
    #nav li:hover .subnav {
        display: block;
    }
    
    #nav .subnav li:hover {
        color: #000;
        background-color: #ccc;
    }
    
    #nav .subnav {
        position: absolute;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        display: none;
        min-width: 160px;
    }
    
    #nav .subnav li {
        width: 100%;
    }
    
    #nav .subnav a {
        color: #000;
        padding: 0 12px;
        line-height: 38px;
    }
    
    #nav .nav-arrow-down {
        font-size: 12px;
    }
    
    #header .menu-mobile-btn {
        display: none;
        top: 0;
        position: absolute;
        right: 0;
    }
    
    #header .menu-mobile-btn,
    #header .search-btn {
        float: right;
        padding: 0 21px;
    }
    
    #header .search-btn:hover {
        background-color: #f44336;
        cursor: pointer;
    }
    
    #header .menu-mobile-btn:hover {
        background-color: #ccc;
    }
    
    #header .menu-mobile-btn:hover .menu-icon {
        color: #000;
    }
    
    #header .menu-icon,
    #header .search-icon {
        color: #ccc;
        font-size: 20px;
        line-height: 46px;
        text-align: center;
        /**/
        /**/
    }
    
    #slider {
        position: relative;
        margin-top: 46px;
        padding-top: 50%;
        /* 50% của chiều nagng của chính nó */
        background: url('https://www.w3schools.com/w3images/chicago.jpg') top center / cover no-repeat;
    }
    
    #slider .text-content {
        position: absolute;
        color: white;
        bottom: 47px;
        /* left: 50%;
    transform: translateX(-50%);
    text-align: center; */
        width: 100%;
        text-align: center;
    }
    
    #slider .text-headding {
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 25px;
    }
    
    #slider .text-desription {
        font-size: 15px;
    }
    /*CONTENT*/
    
    #content {}
    
    #content .content-section {
        width: 800px;
        max-width: 100%;
        padding: 64px 0 112px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    
    #content .section-heading {
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 4px;
        /* Tạo khoảng cách cho các chữ cái*/
    }
    
    #content .section-subheading {
        text-align: center;
        margin: 25px 0 25px 0;
        font-size: 15px;
        font-style: italic;
        opacity: 0.7;
        /*Làm mờ chữ */
    }
    
    #content .about-text {
        text-align: justify;
        font-size: 15px;
        line-height: 1.5;
    }
    
    #content .members-list {
        margin-top: 47px;
        overflow: hidden;
        /*sua bo cu khi su dung float*/
    }
    
    #content .member-name {
        font-size: 15px;
    }
    
    #content .member-img {
        width: 154px;
        margin-top: 15px;
        border-radius: 4px;
    }
    /*TOUR */
    
    .tour-section {
        background-color: #000;
        color: white;
    }
    
    .tickets-list li {
        background-color: white;
        color: #757575;
        font-size: 15px;
        padding: 11px 16px;
        border-bottom: 1px solid #ddd;
        list-style-type: none;
    }
    
    .tickets-list .sold-out {
        padding: 3px 8px;
        margin-left: 16px;
        background-color: #f44336;
        color: white;
    }
    
    .tickets-list .quantity {
        float: right;
        width: 24px;
        height: 24px;
        margin-right: 16px;
        background-color: #000;
        border-radius: 50%;
        /* Tạo khối tròn bao elêment*/
        text-align: center;
        line-height: 24px;
        margin-top: -2px;
    }
    /*places*/
    
    .places-list {
        margin-top: 16px;
        /* padding-bottom: 48px; */
        /* margin-left: -8px;
    margin-right: -8px; */
        /*Kỹ thuật đièu chỉnh 2 mép ngoài*/
        /* overflow: hidden; */
        /*sua bo cuc khi su dung float (đặt ở thẻ cha)*/
    }
    
    .place-img {
        width: 100%;
        /*set bang chieu rộng của thẻ cha*/
        display: block;
        /*thay đổi display inline thành display block */
    }
    
    .place-img:hover {
        opacity: 0.6;
        /*làm mờ ảnh*/
    }
    
    .place-body {
        background-color: white;
        color: #000;
        padding: 16px;
        font-size: 15px;
    }
    
    .place-heading {
        margin-top: 15px;
        font-size: 15px;
    }
    
    .place-time {
        margin-top: 15px;
        color: #757575;
    }
    
    .place-dest {
        margin-top: 15px;
        line-height: 1.4;
        /*khoảng cánh chưa*/
    }
    
    .btn {
        background-color: #000;
        color: white;
        padding: 8px 16px;
        display: inline-block;
        /*Sua bo cua cua inline*/
        margin-top: 15px;
        text-decoration: none;
    }
    /* .place-buy-btn:hover {
    background-color: #ccc;
    color: black;
} */
    
    .modal {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.4);
        align-items: center;
        justify-content: center;
        display: none;
    }
    
    .modal.open {
        display: flex;
    }
    
    .modal-container {
        background-color: #fff;
        width: 900px;
        max-width: calc(100% - 16px);
        min-height: 200px;
        position: relative;
        animation: modalFadeIn ease 0.6s;
    }
    
    .modal-header {
        background-color: #009688;
        height: 130px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: #fff;
    }
    
    .modal-heading-icon {
        margin-right: 16px;
    }
    
    .modal-close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px;
        cursor: pointer;
        opacity: 0.8;
    }
    
    .modal-close:hover {
        opacity: 1;
        background-color: #06916e;
    }
    
    .modal-body {
        padding: 16px;
    }
    
    .modal-label {
        display: block;
        font-size: 15px;
        margin-bottom: 10px;
    }
    
    .modal-input {
        border: 1px solid #ccc;
        width: 100%;
        padding: 10px;
        font-size: 15px;
        margin-bottom: 24px;
    }
    /*Sưa đổi the a thành button -bỏ viền bođer*/
    
    button.place-buy-btn.js-buy-ticket {
        border: none;
    }
    
    #buy-ticktes {
        background-color: #06916e;
        border: none;
        color: white;
        width: 100%;
        font-size: 15px;
        padding: 16px;
        text-transform: uppercase;
    }
    
    #buy-ticktes:hover {
        cursor: pointer;
        opacity: 0.9;
    }
    
    .modal-footer {
        padding: 16px;
        text-align: right;
    }
    
    .modal-footer a {
        color: #2196F3;
    }
    /* Tạo frames animation*/
    
    @keyframes modalFadeIn {
        from {
            opacity: 0;
            transform: translateY(-200px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    /*CONTACT*/
    
    .contact-contentt {
        margin-top: 48px;
        /* overflow: hidden;
    sua bo cuc khi su dung float (đặt ở thẻ cha) */
    }
    
    .contact-info {
        font-size: 18px;
        line-height: 1.5;
    }
    
    .contact-info i[class*="ti-"] {
        width: 30px;
        display: inline-block;
    }
    
    .contact-info a {
        color: #101aef;
        opacity: 0.7;
    }
    
    .contact-info a:hover {
        opacity: 1;
    }
    /* .contact-form {
    font-size: 15px !important;
} */
    
    .contact-contentt .form-control {
        padding: 8px;
        border: 1px solid #ccc;
        width: 100%;
    }
    /* .btn {
        background: #000;
        color: #fff;
        border: none;
        padding: 11px 17px;
        float: right;
    } */
    /* .form-submit-btn:hover {
    background-color: #ccc;
    color: #000;
    cursor: pointer;
} */
    /*MAP*/
    
    .map-section img {
        width: 100%;
    }
    /*FOOTER*/
    
    #footer {
        padding: 64px 16px;
        text-align: center;
    }
    
    #footer .socials-list {
        font-size: 18px;
    }
    
    #footer .socials-list a {
        color: rgba(0, 0, 0, 0.6);
        text-decoration: none;
    }
    
    #footer .socials-list a:hover {
        color: rgba(0, 0, 0, 0.5);
    }
    
    #footer .coporight {
        margin-top: 15px;
        color: rgba(0, 0, 0, 0.6);
        font-size: 15px;
    }
    
    #footer .coporight a {
        color: rgba(0, 0, 0, 0.6);
    }
    /* TABLET VS MOBILE */
    
    @media only screen and (max-width:1023px) {
        .btn {
            padding: 15px 16px;
        }
        .contact-contentt .form-control {
            padding: 15px;
        }
        .contact-info {
            line-height: 2.0;
        }
        #footer .socials-list {
            font-size: 32px;
        }
        #footer .coporight {
            padding: 14px 0;
            font-size: 24px;
        }
        #footer .coporight a {
            display: inline-block;
        }
        #footer .coporight {
            margin: 0 8px;
        }
        #nav .subnav a {
            padding: 5px 12px;
        }
    }
    /* TABLET: width >= 740px and width < 1024px*/
    
    @media only screen and (min-width:46.25em) and (max-width:63.9375em) {
        .contact-info {
            line-height: 2.0;
        }
    }
    /* MOBILE: width < 740px*/
    
    @media only screen and (max-width:740px) {
        .s-full-width,
        .s-col-full {
            width: 100% !important;
        }
        .s-mt-8 {
            margin-top: 8px !important;
        }
        #header {
            overflow: hidden;
        }
        #header .menu-mobile-btn {
            display: block;
            top: 0;
            position: absolute;
            right: 0;
        }
        #header .search-btn {
            display: none;
        }
        #nav {
            display: block;
        }
        #nav li {
            /* position: relative; */
            display: block;
        }
        #nav li a {
            padding: 1px 24px;
        }
        #nav>li:first-child {
            display: inline-block;
        }
        #nav .subnav {
            background-color: #333;
            position: initial;
            /*Giá trị mặc dinh */
        }
        #nav .subnav a {
            color: #fff;
            padding: 5px 43px;
        }
        #content .members-list .member-item {
            width: 100%;
            margin-top: 30px;
        }
        #content .member-img {
            width: 60%;
        }
        .contact-form {
            margin-top: 16px;
        }
        /* Chinh sửa kích thước nút mua vé */
        .btn {
            padding: 16px 32px;
        }
    }
    /*======= Những điều cần lưu ý============
    1.Tu ngoai vao trong
    2.Tu tren xuong duoi
    3.Tu tong quan den chi tiet
++ Phân tích trướ khi thực hiện xây dụng các vhi tiết
    1 vi tri
    2 kich thuoc
    3 mau sac
    4 kieu dang (kieu chu,hinh tron,vuong....)    
    ========================================
    */